html,
body {
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.line-input {
    display: inline-block;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, rgba(133, 133, 133, 1) 0%, rgba(106, 106, 106, 1) 48%, rgba(133, 133, 133, 1) 100%) 1;
    font-size: inherit;
    text-overflow: ellipsis;
    width: 35vw;
    vertical-align: middle;
}

.line-input:focus {
    outline: none;
    caret-color: #ccc;
}

.main-text {
    font-size: 5vw;
    font-weight: bold;
    font-family: "Ubuntu", Arial, sans-serif;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    user-select: none;
    transition: all 0.25s ease-in-out;
}

.long {
    font-size: 3.5vw;
}

#query {
    margin: 0;
    color: #888;
    font-size: 1.5vw;
    font-family: sans-serif;
    font-style: italic;
}

#disagree {
    visibility: hidden;
    margin: 0;
    color: #777;
    font-size: 1.25vw;
    font-family: sans-serif;
    font-style: italic;
}

#disagree a {
    text-decoration-color: #77777730;
}

#disagree a:hover {
    text-decoration-color: #777;
}

/* no clue why this needs to be !important, but whatevs */
/* moving the class def of jotted-link didn't fix */
footer a {
    text-decoration-color: #ffffff80 !important;
}

footer a:hover {
    text-decoration-color: #fff !important;
}

.jotted-link {
    text-decoration: dashed underline;
    color: inherit;
    transition: text-decoration-color 0.25s ease-in-out;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5vh;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 1vw;
    background: #111;
}

@media screen and (max-width: 600px) {
    .main-text {
        font-size: 10vw;
    }

    .long {
        font-size: 7vw;
    }

    .line-input {
        width: 80vw;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    #query {
        font-size: 4.5vw;
    }

    #disagree {
        font-size: 3vw;
    }

    footer {
        font-size: 3.5vw;
    }
}